@use "../Utilis/variables.scss" as v;

.modal-container {
  max-height: 100%;
  width: 450px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 220px;
  border: none;
  border-radius: 20px;
  outline: none;
  display: flex;
  flex-direction: column;

  .modal-header {
    background-color: v.$primary;
    color: v.$white;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .modal-children {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    flex: 1;

    button {
      background-color: v.$primary;
      border: none;
      color: white;
      padding: 10px;
      max-width: max-content;
      min-width: 100px;
    }
  }
}
