@use "./Utilis/variables.scss" as v;

* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  background-color: white;
}

// Navbar styles

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.75rem;
}

p {
  color: v.$black-400;
}

/* Logo-4 */
.logo h2 {
  color: #7d80ff;
  font-weight: 300;
  font-size: 50px;
  line-height: 0.65;
  font-family: "Lobster", cursive;
}

/* Hide scrollbar for all elements */
::-webkit-scrollbar {
  display: none;
}

.send-message {
  width: 100%;

  input {
    width: calc(100% - 75px);
    padding: 12px 25px;
    background-color: v.$black-200;
    border: none;
  }

  button {
    width: 75px;
    height: 40px;
    background-color: #7d80ff;
    color: white;
    border: none;
  }
}

a {
  text-decoration: none;
}
